/* Général */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-color: gray;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.left {
    grid-column: 1;
}

.center {
    grid-column: 2;
    text-align: center;
}

.right {
    grid-column: 3;
    text-align: right;
}

.py-4{
    flex: 2;
    overflow: auto;
}
/* Liste des établissements (home)*/
.body_home {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: space-evenly;
}

/* Case d'établissement (home) */
.establishment {
    border: black 2px solid;
    margin: 50px;
    text-align: center;
    display: grid;
    grid-template-rows: 70% 30%;
    height: 350px;
    width: 250px;
}


/* Information hors image de l'établissement (home)*/
.info {
    grid-row: 2;
    text-align: center;
    vertical-align: auto;
}

/* Afficher les informations de l'établissement hors image (place) */
.place {
    text-align: center;
    grid-column: 2;
    margin-top: 10px;
}

.new_comment {
    margin-bottom: 50px;
}

/* Affiche un commentaire (place) */
.comment {
    margin-bottom: 50px;
    border: 3px black solid;
    width: auto;
    display: grid;
    grid-template-columns: 80% 20%;  
}

/* Information des commentaires (place) */
.info_comment {
    grid-column: 1;
}

/* Le texte du commentaires (place) */
.comment_subjet {
    overflow-x: auto;
}



/* Ajout d'un établissement (add et modify_esta) */
.add_etablishment {
    margin-top: 100px;
    text-align: center;
    vertical-align: center;
}



/* Affiche les informations d'un utilisateur (user) */
.information_user {
    text-align: center;
    margin-top: 100px;
}

/* Division des pages utilisateurs et établissements */
.body_place {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.icon_comment {
    grid-column: 2;
    display: grid;
    grid-template-columns: 50% 50%;
}

.stylo {
    grid-column: 1;
}

.poubelle {
    grid-column: 2;
}

/* Division des pages de modification */
.body_modify {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

/* Requête de modification */
.center_modify {
    grid-column: 2;
    margin-top: 10px;
    text-align: center;
}

/* Icon de suppression et modification */
.icon_place {
    grid-column: 3;
    margin-top: 10px;
}

.footer {
    background-color: blueviolet;
    height: 5%;
}

.main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer a {
    margin-left: 1%;
}

.nav-link{
    color: black; 
    text-decoration: none;
}