/* Format d'image pour la page principale */
.image {
    display: block;
    margin: auto;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border: 1px black solid;
}

/* Format des images par défaut pour la page principale */
.default_image {
    display: block;
    margin: auto;
    grid-row: 1;
    width: 90%;
    height: 90%;
    border: 1px black solid;
}

/* Format d'image pour les pages liés aux utilisateurs
et aux établissements */
.image_place {
    display: block;
    width: 60%;
    height: 60%;
    border: 1px black solid;
    margin: auto;
}
